/*
 Theme Name:   Scandium
 Theme URI:    http://scandium.magnesium.coop
 Description:  Scandium a Inspiro Child Theme
 Author:       Magnesium Coop
 Author URI:   http://magnesium.coop
 Template:     inspiro
 Version:      1.0.1
 License:      GNU General Public License v2.0
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: ecommerce, fullscreen slider, responsive, theme-options, portfolio
 Text Domain:  scandium-inspiro-child
*/


/*

.really-full-width {
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

!**
 Language icons
 **!


#lang-icons ul {
  display: table;
  white-space: nowrap;
}

#lang-icons li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  position: relative;

}

#lang-icons a {
  text-decoration: none;
  color: rgba(0,0,0,1);
  position: relative;
  padding: 16px 7px;
  border-top: 2px solid rgba(0,0,0,0);
  border-bottom: 2px solid rgba(0,0,0,0);
    transition: max-height .3s,border-color 0s;
  border-radius: 30px;
}

#lang-icons a:focus,
#lang-icons a:hover {
    text-decoration: none;
  padding: 5px 7px;
  border-color: rgba(0,0,0,1);
  outline: none;
  border-radius: 30px;
}

#lang-icons a::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  color: rgba(0,0,0,0);
  border-left: 2px solid rgba(0,0,0,0);
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
  border-radius: 30px;
}

#lang-icons a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px;
  max-height: 0;
  color: rgba(0,0,0,0);
  border-right: 2px solid rgba(0,0,0,0);
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
  border-radius: 30px;
}

#lang-icons a:focus::before,
#lang-icons a:hover::before,
#lang-icons a:focus::after,
#lang-icons a:hover::after {
  max-height: 100%;

  border-color: rgba(0,0,0,1);
}

!**
End Language icons
 *!



!*********************************************************************************************

3. Navigation

*********************************************************************************************!

.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu li { position: relative }
.sf-menu ul { position: absolute; display: none; top: 100%; left: 0; z-index: 99; }
.sf-menu > li { float: left }
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul { display: block }
.sf-menu a { display: block; position: relative; }
.sf-menu ul ul { top: 0; left: 100%; }
.sf-arrows .sf-with-ul:after { content: "\f347"; display: inline-block; -webkit-font-smoothing: antialiased; font: normal 12px/16px 'dashicons'; vertical-align: top; margin: 6px 0px 0 4px; }
.sf-arrows ul .sf-with-ul:after { content: "\f345"; display: inline-block; -webkit-font-smoothing: antialiased; font: normal 12px/22px 'dashicons'; float: right; vertical-align: top; margin: 2px 0 0 4px; }
.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after { border-left-color: white }

.navbar { position: relative; z-index: 200; color: #fff; background: #111; }
.navbar:before, .navbar:after { content: " "; display: table; }
.navbar:after { clear: both }
.navbar.page-with-cover { position: absolute; width: 100%; background: none; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 100%); background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 100%); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=0); }
.navbar .wrap { width: 100%; max-width: 1200px; margin: 0 auto; }
.navbar a { color: #fff }


.navbar-toggle { display: none; position: relative; float: right; margin: 25px 15px 0 25px; padding: 10px 10px; border-color: transparent; border-radius: 4px; background: black; }
.inspiro--with-page-nav .navbar-toggle { display: block; }
.navbar-toggle:hover { border-color: transparent; background-color: transparent; }
.navbar-toggle .icon-bar { position: relative; display: block; width: 22px; height: 2px; border-radius: 1px; background: #fff; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 5px; }

!* hamburger animation *!
.navbar-toggle .icon-bar { -webkit-transition: width .13s ease-out, -webkit-transform .13s ease-out, opacity .13s ease-out; transition: width .13s ease-out, transform .13s ease-out, opacity .13s ease-out; }
.navbar-toggle:hover .icon-bar:nth-child(2) { -webkit-transform: rotateZ(-40deg) translateX(-6px); transform: rotateZ(-40deg) translateX(-6px); width: 12px; }
.navbar-toggle:hover .icon-bar:nth-child(3) { -webkit-transform: translateX(-3px); -ms-transform: translateX(-3px); transform: translateX(-3px); }
.navbar-toggle:hover .icon-bar:nth-child(4) { -webkit-transform: rotateZ(40deg) translateX(-6px); transform: rotateZ(40deg) translateX(-6px); width: 12px; }

!* hamburger when side-nav is opened *!
.side-nav-open .navbar-toggle .icon-bar:nth-child(2) { -webkit-transform: rotateZ(-45deg) translate3d(-5px, 5px, 0); transform: rotateZ(-45deg) translate3d(-5px, 5px, 0); width: 28px; }
.side-nav-open .navbar-toggle .icon-bar:nth-child(3) { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); opacity: 0; }
.side-nav-open .navbar-toggle .icon-bar:nth-child(4) { -webkit-transform: rotateZ(45deg) translate3d(-5px, -5px, 0); transform: rotateZ(45deg) translate3d(-5px, -5px, 0); width: 28px; }

.navbar-nav { font-family: Merriweather, sans-serif; font-size: 16px; font-weight: 400; float: right; padding: 26px 0; }
.navbar-nav > li { margin: 0 15px }
.inspiro--with-page-nav .navbar-nav > li:last-child { margin-right: 0 }
.navbar-nav > li > ul:before { content: ''; position: absolute; bottom: 100%; left: 50%; margin-left: -8px; width: 0; height: 0; border-bottom: 8px solid #0bb4aa; border-right: 8px solid transparent; border-left: 8px solid transparent; }
.navbar-nav a { padding: 5px 0 3px; font-family: Montserrat, sans-serif; border-bottom: 1px solid transparent; -webkit-transition: 0.2s ease all; -o-transition: 0.2s ease all; transition: 0.2s ease border-color, 0.2s ease color; }
.navbar-nav a:hover, .navbar-nav a:focus { text-decoration: none; border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
.navbar-nav ul { font-size: 16px; left: 50%; width: 220px; margin-top: 15px; border-top: 2px solid #0bb4aa; background: #111; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.navbar-nav ul li { border-top: 1px solid #171717 }
.navbar-nav ul a { color: #b0b0b0; padding: 8px 15px; border-bottom: none; }
.navbar-nav ul a:hover { border-bottom: none; color: #fff; }
.navbar-nav ul .current-menu-item a, .navbar-nav ul .current_page_item a, .navbar-nav ul .current-menu-parent a, .navbar-nav ul .current_page_parent a { border-bottom: none; color: #fff; }
.navbar-nav ul ul { right: 100%; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); margin-top: -3px; }

.navbar-nav > li > a.sf-with-ul:hover { border-bottom: 1px solid rgba(255, 255, 255, 0) }
.current-menu-item a, .current_page_item a, .current-menu-parent a, .current_page_parent a { border-bottom: 1px solid rgba(255, 255, 255, 0.3) }

!* WooCommerce Cart Icon *!
a.cart-button:before { font: normal 20px/25px 'dashicons'; display: inline-block; margin: 0 8px 0 0; content: '\f174'; vertical-align: top; -webkit-font-smoothing: antialiased; }
a.cart-button { display: block; float: right; }
.woocommerce-pagination, .paging-navigation { text-align: center; padding: 50px 0 0; }
.woocommerce-pagination .page-numbers, .paging-navigation .page-numbers { font-size: 20px; font-family: Montserrat, sans-serif; line-height: 40px; padding: 10px 15px; color: #444; -webkit-transition: 0.2s ease all; -o-transition: 0.2s ease all; transition: 0.2s ease all; }
.woocommerce-pagination .page-numbers.current, .woocommerce-pagination .page-numbers:hover, .paging-navigation .page-numbers.current, .paging-navigation .page-numbers:hover { text-decoration: none; color: #0bb4aa; }


!* Hides navigation links and site footer when infinite scroll is active *!
.infinite-scroll .paging-navigation {
  display: none;
}
<<<<<<< HEAD



/******** Fuente *******/


@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: Montserrat, sans-serif !important;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  min-height: calc(90vh - 300px);
}



/*******Header*********/

.navbar-nav{
  padding: 38px 0 14px;
}


.navbar .wrap {
  max-width: unset !important;
  padding: 0px 25px 0px 25px;
}

.logo-bg{
  height: 60px!important;
}

.row-language {
    margin-top: 15px;
}

@media screen and (max-width: 992px) and (min-width: 500px){
    .row-language {
        padding-right: 10px;
    }

}


.navbar {
    /*margin-top: -110px;*/
    width: 100%;
    background: #fff!important;
}

.idioma {
  font-size: 15px;
  width: 35px;
  height: 35px;
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idioma.selected {
  border: 1px solid #808080;
  border-radius: 50%;
  /*margin-left: -2px;
  margin-top: -2px;*/
}



p, .idioma a {
  color: #808080 !important;
}

.idioma img {
  height: 100%;
  width: 100%;
}

#slider {
    margin-top: 90px;
}

.section-title {
  margin-top: 20px;
}

#content-homepage .section-title {
  margin-top: 120px;
}



.site-footer {
  margin-top: 0!important;
}

footer a {
  color: #fff;
}

a {
  color: #85aeec;
}

.navbar.page-with-cover {
  background-image: none !important;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}


/* Portfolio*/

.portfolio-archive .portfolio_item {
    /*width: 31.33% !important;
    margin: 1% !important;*/
}

/*.portfolio-grid {*/
/*  !*margin: 0 2%;*!*/
/*}*/

/*.portfolio-grid a {*/
/*  margin-bottom: 20px;*/
/*}*/




* {
  /*debug*/
  /* border: 1px solid #f00;*/
}




/* Titulos */



.ccchildpage h3, .section-title {
  font-family: Montserrat, sans-serif !important;
  font-size: 30px !important;
  font-weight: normal;
  color: #808080;
  text-align: center;
}

.ccchildpage h3:after, .section-title:after {
    display: block;
    content: " ";
    width: 60px;
    height: 2px;
    background: #808080;
    margin: 10px auto 48px;
}

.ccpages_excerpt {
  font-size: 100%;
}

.ccpages_more {
  display: none;
}

.container>div>div>h3 {
  display: none;
}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f4f4f4; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b3b3b3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999; 
}




/* form contacto footer*/

.footer-widgets {
    padding: 48px 15px 48px;
}

.wpcf7 input[type='submit']{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  margin-left: 37.5%;
  width: 25%;
  padding: 0px;
}

.wpcf7 input:not([type='submit']), .wpcf7 textarea{
  background-color: transparent;
  border: 0;
  color: #fff;
  border-bottom: 1px solid;
  width: 100%;
  max-width: 100%;
  max-height: 70px;
  padding: 0px !important;
}



.wpcf7 input:not([type='submit'])::placeholder, .wpcf7 textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1; /* Firefox */
}

.wpcf7 input:not([type='submit']):-ms-input-placeholder, .wpcf7 textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
}

.wpcf7 input:not([type='submit'])::-ms-input-placeholder, .wpcf7 textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: #bbb;
}


.wpcf7 .ajax-loader {
  display: none;
}

p>input[type='submit'] {
  text-align: center;
}




/* Footer*/

.footer {
  height: 300px;
}


/****** Ajustes para footer ******/
.footer-widgets > :nth-of-type(1) {
    width: 34.66%;
}
.footer-widgets > :nth-of-type(2) {
    width: 30.01%;
}

.footer-widgets > :nth-of-type(3) {
    width: 34.33%;
    padding: 0 20px;
}

.footer-widgets > :nth-of-type(3) .widget {
    margin-bottom: 0!important;
}

.site-info p {
  margin: 0!important;
}

.site-info {
  padding: 5px 10px!important;
  font-size: 10px!important;
  line-height: normal;
}

.site-footer-separator {
  border-color: #a0a0a0;
}

.navigation {
  margin-bottom: 40px;
}

.footer-widgets.widgets{
  display:flex;justify-content:center;align-items:center;
}


.div-footer-text {
  font-size: 12px;
  line-height: 20px;
  padding-left: 30px;
  color: #fff;
}

.div-footer-logo {
  border-right: 1px solid #fff;
  padding-right: 0px;
  align-items: center;
  text-align: center;
}

.div-footer-logo img {
  width: 80%;
  max-width: 150px;
}


.widget_media_image img {
  margin-left:  calc(50% - 100px);;
  width: 200px;
}

.zoom-social_icons-list__link span:before{
  color: #666;
}

.zoom-social-icons-widget {
    /*margin-left: 56%;*/
    /*margin-top: -90px;*/
    position: relative;
    bottom: 00px;
    left: 56%;
    width: 110px;
}

.widget {
  margin-bottom: 0px;
}

.footer-widgets .column {
  margin-right: 0% !important;
}


/*Pantalla de ficha*/
.page .has-post-cover .entry-cover-image:after,
.single .has-post-cover .entry-cover-image:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%) !important;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%) !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%) !important; 
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#80000000', GradientType=0);
}


.entry-cover{
  height: 100%;
}

.entry-cover-image {
  opacity: 1;
  background-size: cover;
  background-position: 50%;
}


.full-entry-cover-image {

  margin-bottom: 10px;
}

.max-size-screen{
  max-width: 1920px;
}


.div_cat_fi_list{
  height: 100%;
  width: 100%;
  /*max-height: 300px;
  max-width: 530px;*/
  background-size: cover;
  background-position: 50%;
}


@media (min-width: 768px) {

  .row_stage > :nth-of-type(1) {
    text-align: right;
    left: 0.6%;
  }

  .row_stage > :nth-of-type(3) {
    text-align: left;
    right: 0.4%;
  }

  .entry-cover-image {
    height: 400px;
  }

}

@media (min-width: 769px) {
  .entry-cover-image {
    height: 100%;
  }
}




.page .has-post-cover .entry-cover, .single .has-post-cover .entry-cover {
  background: none;
}



.slides > li .excerpt{
  text-align: left;
}

ul.slides .li-wrap {
  /*Para el título del slider*/
  top: 75%;
}


.excerpt {
  font-family: Montserrat, sans-serif !important;
  font-size: 14px !important;
}

ul.sf-menu a:hover {
  /*font-weight: 600;*/
  /*color: #444;*/
  opacity: 0.5;
  /*transition: font-weight 2s;*/
}

.nav .active-menu a {
  font-weight: 600;
}


ul.sf-menu li {
  text-align: center;
  margin-left: 0px !important;
}


ul.sf-menu {
  display: flex;
}

div.asl_m .probox .promagnifier {
  order: 0!important;
  -webkit-order: 0!important;
}

.asl_res_url {
  color: #000 !important;
  font-size: 13px!important
}

.asl_content{
  background-color: #fff!important;
}


ul.sf-menu li:nth-child(1) {
  order: 2;
}
ul.sf-menu li:nth-child(2) {
  order: 3;
}
ul.sf-menu li:nth-child(3) {
  order: 4;
}
ul.sf-menu li:nth-child(4) {
  order: 1;
}


/*Barra de busqueda / search*/
.astm-search-menu {
  color: #808080;
}

.astm-search-menu .search-form input {
  border: 0px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  height: 20px;
}

.astm-search-menu .search-form input:hover {
  opacity: 0.5;
}

.entry-container-fluid {
    width: 100%!important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.info-panel {
  background-color: #f4f4f4;
}

.card-info {
  /*padding: 0px 40px 20px;*/
  padding: 20px 40px;
  font-size: 1.3rem;
  font-weight: 100;
}

.card-info th {
  font-weight: 100;
}


.card-content {
  margin-top: 0px;
  max-height: 240px;
  overflow-y: auto;
}

.card-content p {
  line-height: 18px;
}

.card-main-content {
  margin-top: 15px;
  max-height: 100px;
  overflow-y: scroll;
}

.b_subtitle {
  margin-top: 5px;
}

.info-panel span.proyect-title {
  color: #8a8a8a;
  font-size: 35px;
  line-height: 40px;
}

.main-data {
    margin: 0 auto;
}

.summary-table {
  margin: 20px auto;
  width: 100%
}

.summary-table td, .summary-table th {
  border: 1px solid #fff;
  text-align: center;
}

.summary-table p {
  margin: 0!important;
  font-family: Montserrat, sans-serif !important;
}


.cover_fp_id_div {
    height: 500px;    
    position: relative;
}

.cover_fp_id {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.cover_fp_ii_div {
    height: 240px;    
    position: relative;
}

.cover_fp_ii {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.separation {
 margin-bottom: 20px; 
}



i {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
}

.right {
  transform: rotate(-45deg) skew(-10deg,-10deg) scale(0.4);
  -webkit-transform: rotate(-45deg) skew(-10deg,-10deg) scale(0.4);
}

.left {
  transform: rotate(135deg) skew(-10deg,-10deg) scale(0.4);
  -webkit-transform: rotate(135deg) skew(-10deg,-10deg) scale(0.4);
}

.up {
  transform: rotate(-135deg) skew(-10deg,-10deg) scale(0.4);
  -webkit-transform: rotate(-135deg) skew(-10deg,-10deg) scale(0.4);
}

.down {
    transform: rotate(45deg) skew(-10deg,-10deg) scale(0.4);
    -webkit-transform: rotate(45deg) skew(-10deg,-10deg) scale(0.4);
}


.slider-portfolio_sup {
  height: 50px;
}

.slider-portfolio *:not(.slider_arrow) {
  text-align: center;
}

.slider-portfolio.slider-sup {
  margin-top: 10px;
  margin-left: unset;
  margin-bottom: 10px;
  margin-right: unset;
  padding-left: 15px; 
}

.slider-portfolio.slider-sup .ar-left {
  text-align: right;
}

.slider-portfolio.slider-sup .ar-right {
  text-align: left;
}

.slider-portfolio .slider_arrow {
  margin-top: 5px;
}

.slider-portfolio .slider_arrow a {
  background-color: #BABABA;
}

.slider-portfolio .slider_arrow a {
  padding: 11px 0px 2px 0px !important;
}



@media screen and (min-width: 1200px) {
  #arrow_inf_left{
    margin-right: 35%;
  }

  #arrow_inf_right{
    margin-left: 35%;
  }
}


.row.no-gutters{
  background-color: #aaa;
}

.cat-item {
  font-size: 1.2rem;
  color: #8a8a8a;
}


/*****  Botones menú portfolio   ****/

.tax-arriba {
  margin-bottom: 5px;
}

.portfolio-archive-taxonomies a {
  padding: 4px 10px !important;
}

ul.portfolio-archive-taxonomies li:hover {
  border-color: #888 !important;
}

.current-cat a {
  color: #fff !important;
  background-color: #BABABA;
  border-color: #BABABA !important;
}

.portfolio-archive-taxonomies li a:hover {
  opacity: 0.5;
  border-color: #afafaf !important;
  background-color: #fff;
  color: #afafaf !important;

}

.portfolio-archive-taxonomies li.current-cat a:hover {
  opacity: 0.5;
  border-color: #afafaf !important;
  background-color: #afafaf;
  color: #fff !important;

}




@media screen and (max-width: 767px) {
  .portfolio-archive-taxonomies a {
    margin-right: 0px !important;
  }
  .bordered_li li, .border_stuff {
    border: 1px solid #afafaf;
  }

  .bordered_li li {
    width: 70%;
  }
}

.no_title {
  margin-top: 25px;
}

@media screen and (min-width: 576px) and (max-width: 767px) {

 
}

@media screen and (max-width: 991px) {

  .slider_arrow {
    margin-bottom: 10px;
  }

  .portfolio-archive-taxonomies:not(.bordered_li) li {
    width: 70%;
  }

  .portfolio-archive-taxonomies li + li {
    margin-left: 0px;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1230px) {

  .portfolio-archive-taxonomies li + li {
    margin-left: 12px;
  }

}


.slider-portfolio {
    margin-right: 0;
    margin-left: 0;
}

.slider-portfolio > :nth-of-type(1) {
  text-align: right;
}
.slider-portfolio > :nth-of-type(2) {
  text-align: left;
}

.btn.btn-primary {
  color: #888 !important;
  background-color: #fff;
  border-color: #888 !important;
}

.btn.btn-primary:hover {
    background-color: #f3f3f3!important;
}


.button:hover, .button:focus, .btn:hover, .more-link:hover, .more_link:hover, .side-nav .search-form .search-submit:hover, .site-footer .search-form .search-submit:hover, .btn:focus, .more-link:focus, .more_link:focus, .side-nav .search-form .search-submit:focus, .site-footer .search-form .search-submit:focus {
  opacity: 0.5;
  border-color: #aaa !important;
  background-color: #fff;
  color: #666 !important;
}

.button:active, .button:focus, .btn:active, .more-link:active, .more_link:active, .side-nav .search-form .search-submit:active, .site-footer .search-form .search-submit:active, .btn:focus, .more-link:focus, .more_link:focus, .side-nav .search-form .search-submit:focus, .site-footer .search-form .search-submit:focus {
  outline: 0px solid #000;
}







/*STUDIO*/


.flexBox-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.widgetizedAreaStudio1, .widgetizedAreaStudio2, .widgetizedAreaStudio3 {
  margin: 60px 0;
  text-align: center;
}


.row_stage div {
  padding: 0!important;
}


.widgetizedAreaStudio1 .stage img {
  max-width: 200px;
  max-height: 200px;
}

.smls-grid-container-template-3 .smls-grid-pad-container img {
    width: 60% !important;
}

.smls-grid-image-wrap {
  margin: 20px 0;
  min-height: 130px!important;
}

/*
.widgetized-section .smls-grid-container-template-3, .widgetizedAreaStudio .smls-grid-container-template-3 {
  display: flex;
}*/
@media (max-width: 389px) {
  .zoom-social-icons-widget {
    position: relative;    
    left: 52%;
  }
  .div-footer-text {
    padding-left: 15px;
  }
  .navbar .wrap {
    padding: 0px 50px 0px 0px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {


  .row.portfolio-grid a{
    max-height: 240px!important;
  }

  .tiles-photo-details {
    max-width: 100%!important;
  }

  .twocol .ccchildpage,
  .threecol .ccchildpage,
  .fourcol .ccchildpage {
    width: 98%;
    float: none;
  }

  .navbar .wrap {
    padding: 0px 25px 0px 0px;
    margin-bottom: 25px;
  }

  .home .widgetized-section > :nth-of-type(1) .textwidget {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 0 15px;
      margin-top: 60px;
  }

  ul.slides .li-wrap {
    /*Para el título del slider*/
    top: 90%;
  }

  .site-info {
    padding: 0px 20px!important;
    font-size: 10px!important;
    line-height: normal;
  }

  .zoom-social-icons-widget {
    /*margin-left: 58%;*/
    /*margin-top: -50px;*/
  }

  .widget_media_image {    
    margin: 40px auto !important;
    text-align: center;
  }

  .widget_media_image img {
    margin: 0 auto !important; 
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  footer .container {
    max-width: 100%;
  }
}


.div-footer-logo{
  display:flex;justify-content:center;align-items:center;
}

@media (min-width: 576px) and (max-width: 640px) {

  .tiles-photo-details {
    max-width: 100%!important;
  }

  ul.slides .li-wrap {
    /*Para el título del slider*/
    top: 85% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  
  .tiles-photo-details {
    max-width: 100%!important;
  }

  .home .widgetized-section > :nth-of-type(1) .textwidget {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 0 15px;
      margin-top: 60px;
  }

  ul.slides .li-wrap {
    /*Para el título del slider*/
    top: 70%;
  }

  .client-pic {
    height: 100px!important;
    width: 100px!important;
  }

  .zoom-social-icons-widget {
    /*margin-left: 55%;*/
    /*margin-top: -110px;*/
  }

  .navbar .wrap {
    padding: 0px 25px 0px 0px;
  }

  .widget_media_image img {
    margin: inherit 40px !important;
    margin-bottom: 20px;

  }

}


@media  (min-width: 768px) and (max-width: 992px) {


  .tiles-photo-details {
    max-width: 100%!important;
  }

  .home .widgetized-section > :nth-of-type(1) .textwidget {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      padding: 0 15px;
      margin-top: 60px;
  }

    .client-pic {
    height: 150px!important;
    width: 150px!important;
  }
  
  .navbar .wrap {
    padding: 0px 25px 0px 0px;
  }

  .excerpt {
    font-family: Montserrat, sans-serif !important;
    font-size: 14px !important;
  }

  .site-info {
    padding: 0px 10px!important;    
  }

  .widget:not(.widget_custom_html) {
    margin-bottom: 40px;
  }

  .widget_media_image {
    width: 50%;
  }

  .widget_media_image img {
    margin: 0 55% !important; 
  }

  ul.slides .li-wrap {
    /*Para el título del slider*/
    top: 78%;
  }
}


@media (min-width: 993px) {
  .home .widgetized-section > :nth-of-type(1) .textwidget {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      padding: 0 15px;
      margin-top: 60px;
  }
}



.wrap .navbar-toggle .icon-bar {
  background-color: #000; 
}

.wrap .navbar-toggle {
  margin: 0!important;
}


.wrap .navbar-toggle *{
  left: 100%;
}

.categories-wedget{
  margin: 40px 0;
}


/* Pruebo con algo nuevo **/
.cat_container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.cat_centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
}


.cat-img-fi {
  background-size: contain;
  background-position: 50%; 
  height: 280px;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  margin-bottom: 40px;
}

.cat-img-fi p {
  text-align: center;
  color: #fff !important;
  font-size: 2.2rem;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.cat-img-fi:hover  {
  opacity: 0.5;
  -webkit-transition: opacity 0.5s; /* Safari */
  transition: opacity 0.5s;
}

.my_entry-thumbnail-popover {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /*text-align: center;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}


.my_entry-thumbnail-popover p {
    text-align: center;
}

.my_entry-thumbnail-popover span {
    text-align: center;
}


.cat-img-fi_a:hover{
    text-decoration: none !important;
}

.my_entry-thumbnail-popover p, .card-title .proyect-title {
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
    .my_entry-thumbnail-popover{
        font-size: 15px;
    }
}

.row.portfolio-grid a, .portfolio-grid-item{
    max-height: 300px;
    margin-bottom: 20px;
}



.my_portfolio_item {
    /*width: 31.33% !important;
    margin: 1% !important;*/
    position: relative;
    float: left;
    overflow: hidden;
}

.my_portfolio_item img {
    width: 100%;
    height: 100%;

}

.my_portfolio_item span {
    opacity: 0;
}

.my_portfolio_item p {
    color: #fff;
}

.div_cat_fi_list:hover, .my_portfolio_item:hover img {
  opacity: 0.2;
  -webkit-transition: opacity 0.2s; /* Safari */
  transition: opacity 0.2s;
}


.my_portfolio_item:hover p {
  color: #6c6c6c;
}


.my_portfolio_item:hover span {
  opacity: 1;
  -webkit-transition: opacity 0.2s; /* Safari */
  transition: opacity 0.2s;
}


.tiles-photo-details {
  text-align: center;
  max-width: calc(80% + 60px);
  margin: 0 auto;
}

.tiles-photo-details .col-12{
  padding: 0!important;
}

.tiles-photo-details a {
  pointer-events: none;
  display:block;
}

.tiles-photo-details span {
  display: none !important;
}


.tiles-photo-details .loading-bar {
  display: none;
}


#ftg-11 .tile .tile-inner:before , #ftg-11 .tile .tile-inner:before, .final-tiles-gallery .tile-inner:before {
  background:none !important;
}

.page .entry-content, .single .entry-content {
  max-width: calc(100% - 60px);
}





/* slick de la home*/
#div_clients-logos .sec_title_cat_logo{
  margin: 40px 0;
}


/*Botones para el slick*/
.slick-slide{
  width: 270px;
}

#div_clients-logos_min .slick-slider {
  margin-bottom: 100px!important;
}

#div_clients-logos_min h3 {
  display: none;
}

#div_clients-logos .slick-slider {
  padding-bottom: 100px!important;
}



hr {
  margin-top: -20px !important;
}


#div_clients-logos .sec_title_cat_logo h3 {
  display: none;
}




.widgetizedAreaClientes h3 {
  /*display: none;*/
  font-family: Montserrat, sans-serif !important;
  text-align: center;
  margin: 0 auto;
  color: #b5b5b4;
  font-size: 1.6rem;
  letter-spacing: 3px
}

.slick-prev:before, .slick-next:before {
 color: #b3b3b3 !important;
}

.slick-dots li {
  padding: unset !important;
  margin: 0 !important;
}

.slick-dots li button {
  padding: 10px 25px !important;
}



/**** Carrousel exp clientes****/
.div_clients-exp {
  background-color: #f8f8f8; 
}

.client-pic {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: cover;
  border-radius: 50%;
  margin: 20px auto 0px;
}
  
.div_clients-exp {
  padding: 40px 0px;
}

.client-name {
  text-align: left;
}

.client-name h3 {
  font-family: Montserrat, sans-serif !important;
  color: #818181;
}

.client-text {
  text-align: justify;
  font-family: Montserrat, sans-serif !important;
  line-height: 18px;
  font-size: 14px;
  color: #818181;
}




/* clients page */

#div_clients-logos{
  /*background-color: #f8f8f8; */
  -webkit-box-shadow:  0px 100px #fff inset;
  -moz-box-shadow:  0px 100px #fff inset;
  box-shadow: 0px 100px #fff inset;
}

.client-logo {
  margin: 0 auto;
  height: 130px;
  max-width: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.client-logo-text {
  text-align: center;
}


.client-logo-name {
  font-weight: bold;
  text-transform: uppercase;
}

.clientes_banner:nth-child(1){
    margin-top: 30px;
}

.clientes_banner {
  display: flex !important;
}

.clientes_banner h3{
  /*display: none;*/
  font-family: Montserrat, sans-serif !important;
  text-align: center;
  margin: 40px auto;
  color: #b5b5b4;
  font-size: 2rem;
  letter-spacing: 3px

}

#div_clients-logos hr {
  width: 10%;
  border-top: 2px solid #ccc;
}

.client-logo-text {
  color: #a1a1a1;
}

.client-logo-text p {
  font-size: 1rem;
}

.client-logo-text p span {
  font-size: 1.2rem;
}






/* Flechitas */

.myArrow {
    font-size: 60px!important;
    position: absolute;
    color: #aaa;
    top: 50%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.fa-angle-right{
    right: -25px;
}
.fa-angle-left {
    left: -25px;
}






/* boton menu */

.icon-menu-nav{
    font-size: 30px;
    color: #000;
    padding: 0;
}

.nav-box-toggle{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-wrap: wrap;
    -ms-flex-pack: end;

    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;

}


.navbar-header{
    display: flex;
}

.nav-box-toggle .navbar-toggle{
    margin: 0 15px 0;
}

.simple-row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


@media (min-width: 1025px) {
    .inspiro-d-lg-none {
        display: none !important;
    }
}

/* AJAX SEARCH BAR*/
#ajaxsearchlite2 *,
div.asl_r .results .item .asl_content h3, div.asl_r .results .item .asl_content h3 a
{
    font-family: Montserrat, sans-serif !important;
    color: #808080 !important;
}
div.asl_w .probox .promagnifier .innericon svg {
    fill: #808080 !important;
}


.recent-posts .entry-header h1 a{
    font-family: Montserrat, sans-serif !important;
    font-size: 40px !important;
    font-weight: normal;
    color: #808080;
    text-align: left;
}


.recent-posts aside .entry-meta {
    display: none;
}

.recent-posts .entry-body {
    width: 100%;
    float: right;
}


.recent-posts .entry-body p {
    font-family: Montserrat, sans-serif !important;
}
